form{
    box-shadow: 1px 1px 10px silver;
    width: max-content;
    padding: 0px 10px;
    padding: 20px;
    font-size: 120%;
    width: 40%;
    box-shadow: 1px 1px 10px rgb(94, 94, 94);
    border-radius: 10px;
}
h2{
    background-color: black;
    color:white;
    justify-content: center;
    text-align: center;
    display: flex;
    border-bottom: 2px solid black;
}
.form-display{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}
.form{
    
    padding: 20px;
    font-size: 180%;
    width: 40%;
    box-shadow: 1px 1px 10px gray;
    border-radius: 10px;
}
.form_set{
    display: flex;
    flex-direction: column;
}
.form_set input{
    padding: 5px;
    outline: none;
    border-radius: 4px;
}
select {
    outline: none;
}
.form_set select{
    font-size: 70%;
    margin-top: 1%;
}
.form_set button{
    width: fit-content;
    font-size: 80%;
    border-radius: 5px;
    margin-top: 2%;
}
button {
    cursor: pointer;
}
.form_set p {
    margin: 0;
    padding: 0;
    font-size: 50%;
    color: red;
}
input[type = "text"], input[type="email"], select{
    width: 50%;
}



